* {
    margin:0;
    padding:0;                      
    box-sizing: border-box;
    font-family:'roboto', sans-serif;
    color:white;
  }
  body{
    background-color: black;
  }
  header{
    width: 100%;
    height: 20vh;
    border-bottom: solid 1px;
  }
  .titulo{
    position: absolute;
    top: 5.5vh;
    left: 37vw;
  }
  main{
    width: 100%;
    height: 365vh;
    border-bottom: solid 1px;
  }
  .curiosity{
    position: relative;
    width: 50%;
    top: 3vh;
    left: 37vw;
  }
  section img{
    width: 25vw;
  }
  .content{
    position: relative;
    width: 15vw;
    height: 300vh;
    top: 10vh;
    left: 37vw;
  }
  .polimata{
    position: relative;
    height: auto;
    width: 35vw;
    top: 1vh;
  }
  .arrested{
    position: relative;
    width: 35vw;
    top: 6vh;
  }
  .christ{
    position: relative;
    top: 8vh;
    width: 35vw;
  }
  .hate{
    position: relative;
    width: 35vw;
    top: 12vh;
  }
  .passaway{
    position: relative;
    top: 18vh;
    width: 35vw;
  }
  footer{
    position: relative;
  }
  .bio{
    position: absolute;
    left: 45vw;
  }
  footer img{
    display: inline-block;
    position: absolute;
    top: 7vh;
  }
  footer ul{
    display: inline-block;
    position: absolute;
    top: 7vh;
    left: 20vw;
    list-style: none;
  }